<div class="container">
    <div class="row searchbar">
        <input type="text" ng-model="searchCtrl.searchString" placeholder="Search Movies..." />
    </div>

    <navbar class="row"></navbar>

    <ul>
        <li class="row" ng-repeat="item in (searchCtrl | searchFor:searchCtrl.searchString)">
            <img ng-src="{{item.poster}}"/>
            <p>{{item.title}}</p>
            <p>({{item.rating}})</p>
            <p class="showtime" ng-repeat="time in item.showtimes">{{time}}</p>
        </li>
    </ul>
</div>
